<%= form_for(car) do |f| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :make_id %>
    <%= f.number_field :make_id %>
  </div>

  <div class="field">
    <%= f.label :doors %>
    <%= f.number_field :doors %>
  </div>

  <div class="field">
    <%= f.label :ext_color %>
    <%= f.text_field :ext_color %>
  </div>

  <div class="field">
    <%= f.label :int_color %>
    <%= f.text_field :int_color %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div class="field">
    <%= f.label :owners %>
    <%= f.number_field :owners %>
  </div>

  <div class="field">
    <%= f.label :transmission %>
    <%= f.text_field :transmission %>
  </div>

  <div class="field">
    <%= f.label :fuel %>
    <%= f.text_field :fuel %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :hp %>
    <%= f.number_field :hp %>
  </div>

  <div class="field">
    <%= f.label :engine %>
    <%= f.text_field :engine %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :total_km %>
    <%= f.number_field :total_km %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
