<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car.make_id %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @car.doors %>
</p>

<p>
  <strong>Ext color:</strong>
  <%= @car.ext_color %>
</p>

<p>
  <strong>Int color:</strong>
  <%= @car.int_color %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Owners:</strong>
  <%= @car.owners %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @car.transmission %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @car.fuel %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @car.hp %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @car.engine %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Total km:</strong>
  <%= @car.total_km %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
