<!DOCTYPE html>
<html>
  <head>
    <title>Slautos</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Bree+Serif|Indie+Flower|Lobster|Nunito' %>
  </head>

  <body>
  	<%= render 'layouts/navbar' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
